/* ------------------------------- Dropdown NavItem styling -------------------------------- */

.dropdown__link {
    text-decoration: none;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary-dark);
    transition: border-color 0.5s ease, color 0.5s ease;
}

.active-dropdown-link p {
    font-weight: 800;
    font-size: 1.1rem;
}

.dropdown__link:hover {
    border-bottom: 1px solid var(--secondary-orange);
}



