/*////////////////////////
    Table of Contents
    1. NavItem styling
    2. Hover transformation
////////////////////////*/

/* ------------------------------- 1. NavItem styling -------------------------------- */

.nav-item {
    text-decoration: none;

    display: flex;
    align-items: center;
}

.nav-item p {
    font-size: 0.9rem;
    position: relative;
    transition: all 0.3s ease;
}

.nav-item .active-link {
    color: var(--primary);
}

.nav-item .active-link p {
    font-weight: 500;
}

.nav-item .default-link {
    color: var(--light);
}


/* ------------------------------- 2. Hover transformation -------------------------------- */

.nav-item p::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    height: 2px;
    width: 0;
    background-color: var(--primary);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-item p:hover::after {
    width: 100%;
}